<ion-header>
  <mat-toolbar color="primary">
    <h2>Escaner de Código QR</h2>
  </mat-toolbar>
</ion-header>

<ion-content>
  <br>

  <button mat-raised-button color="primary" (click)="scanQrCode()">Ecanear Código QR</button>

  <div *ngIf="scannedData">
    <h2>Resultado del Escaneo:</h2>
    <p> {{ scannedData }}</p>

    <button mat-raised-button color="accent" (click)="descargarQR()">Descargar QR</button>
  </div>

  <br>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Ingrese Texto ...</mat-label>
    <input matInput [(ngModel)]="qrCodeData" placeholder="para generar Código QR">
  </mat-form-field>

  <br>

  <button mat-raised-button color="primary" (click)="generateQRCode()"> Generar Código QR </button>

  <br>

  <div *ngIf="generateQRCode" class="qr-code-container">
    <img [src]="generateQRCode" atl="Generated QR Code">
  </div>
</ion-content>
