/* Contenedor principal */
.service-container {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 12px;
    height: 80vh; 
    overflow-y: auto;
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 8px;
  }
  
 
  .service-card {
    width: 280px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 16px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    
    mat-card-title {
      font-size: 1.2rem;
      font-weight: 600;
      color: #333; 
    }
  
    mat-card-subtitle {
      color: #666;
      margin-bottom: 8px;
    }
  
    mat-card-content {
      font-size: 0.9rem;
      color: #555;
    }
  
    
    button {
      margin-top: auto; 
    }
  }
  