import { Component } from '@angular/core';

@Component({
  selector: 'app-certificaciones',
  templateUrl: './certificaciones.component.html',
  styleUrls: ['./certificaciones.component.css']
})
export class CertificacionesComponent  
 {
  vencimientoChecked = false;
}
<ion-content>
  <h2>Certificaciones</h2>

  <form (ngSubmit)="agregarCertificacion()">
    <ion-item>
      <ion-label position="floating">Nombre del Certificado</ion-label>
      <ion-input type="text" [(ngModel)]="nombreCertificado" name="nombreCertificado"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de Obtención</ion-label>
      <ion-input type="date" [(ngModel)]="fechaObtencion" name="fechaObtencion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Certificado con vencimiento</ion-label>
      <ion-checkbox name="vencimiento" [(ngModel)]="vencimientoChecked"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="vencimientoChecked">
      <ion-label position="floating">Fecha de Vencimiento</ion-label>
      <ion-input type="date" [(ngModel)]="fechaVencimiento" name="fechaVencimiento"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Agregar Certificación</ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let certificacion of certificaciones">
      {{ certificacion.nombre }} - {{ certificacion.fechaObtencion | date:'dd/MM/yyyy' }}
      <ion-item *ngIf="certificacion.vencimiento">
        Vencimiento: {{ certificacion.fechaVencimiento | date:'dd/MM/yyyy' }}
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>

