

<ion-content>
  <div class="contact-container">
    <h2>Contáctanos</h2>
    
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" placeholder="Ingresa tu nombre" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput type="email" placeholder="Ingresa tu correo" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Asunto</mat-label>
        <input matInput type="text" placeholder="Ingresa el asunto" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mensaje</mat-label>
        <textarea matInput placeholder="Escribe tu mensaje" rows="5" required></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </form>
  </div>
</ion-content>

