#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px; /* Reducir el espacio general */
  margin-top: 20px; /* Espacio opcional para separación */
}

.welcome-container h3 {
  font-size: 1.5em; /* Reducido para mantenerlo como un subtítulo */
  color: #4CAF50;
  margin: 5px 0; /* Reducir espacio vertical */
}

.welcome-container p {
  font-size: 1em; /* Tamaño uniforme y compacto */
  color: #555;
  margin: 5px 0; /* Reducir espacio vertical */
}
