<mat-card class="register-card">
  <div class="logo-container">
    <img src="assets/images/logo serviexpress.webp" alt="Logo ServiExpress" class="logo" />
  </div>

  <mat-card-title class="card-title">Registro de Usuario</mat-card-title>

  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" placeholder="Ingresa tu nombre" />
        <mat-error *ngIf="f['name'].errors?.['required']">El nombre es obligatorio.</mat-error>
        <mat-error *ngIf="f['name'].errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</mat-error>
      </mat-form-field>

      <!-- Correo Electrónico -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="email" placeholder="Ingresa tu correo" />
        <mat-error *ngIf="f['email'].errors?.['required']">El correo es obligatorio.</mat-error>
        <mat-error *ngIf="f['email'].errors?.['email']">Correo inválido.</mat-error>
      </mat-form-field>

      <!-- Contraseña -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Ingresa tu contraseña" />
      </mat-form-field>

      <!-- Confirmar Contraseña -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirmar Contraseña</mat-label>
        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirma tu contraseña" />
      </mat-form-field>

      <!-- Selector de Rol -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Selecciona tu rol</mat-label>
        <mat-select formControlName="role">
          <mat-option value="cliente">Cliente</mat-option>
          <mat-option value="proveedor">Proveedor</mat-option>
        </mat-select>
        <mat-error *ngIf="f['role'].errors?.['required']">Selecciona un rol.</mat-error>
      </mat-form-field>

      <!-- Botón de Registro -->
      <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="loading || !registerForm.valid">
        Registrarse
      </button>

      <div class="login-button">
        <p>¿Ya tienes una cuenta?</p>
        <button mat-button color="primary" (click)="goToLogin()">
          <mat-icon>login</mat-icon> Iniciar Sesión
        </button>
      </div>
      

      <!-- Spinner -->
      <div class="spinner-container" *ngIf="loading">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
    </form>
  </mat-card-content>
</mat-card>
