<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista Servicios</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let servicio of servicios">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ servicio.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ servicio.descripcion }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

