<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" formControlName="correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Rol</ion-label>
      <ion-select formControlName="rol">
        <ion-select-option value="cliente">Cliente</ion-select-option>
        <ion-select-option value="tecnico">Técnico</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="registroForm?.get('correo')?.invalid && registroForm?.get('correo')?.touched">
      <ion-label color="danger">Correo inválido</ion-label>
    </ion-item>
    
    

    <ion-button expand="full" type="submit" [disabled]="!registroForm.valid">
      Registrarse
    </ion-button>
  </form>
</ion-content>
